.context-menu {
	background: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(61,70,77,0.1);
    z-index: 9999;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    display: block;
    position: fixed;
    //margin: -30px 100px;
    text-align: left;
}
.context-menu > li {
	display: block;
    position: relative;
    padding: 10px 12px;
    min-width: 144px;
    color: #3d464d;
    text-decoration: none;
    cursor: pointer;
    line-height: 19px;
}
.context-menu > li:hover {
  background: #E3F2FF;
}