#drop-zone {    
    height: 250px;    
    margin-left: 0px;
    border: 1px dashed #929292;
    border-radius: 3px;
    font-family: Arial;
    text-align: center;
    overflow-y: auto;
    line-height: 220px;
    vertical-align: middle;
    color: #afafaf;
    font-size: 16px;
    background-color: #eeefff;
}

#drop-zone DIV.fileuploading {
    vertical-align: middle; /*important*/
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 15px;
    text-align:left;
    width:calc(100% - 10px);
    height:25px;
    border-bottom:1px solid #e3e3e3;
    color: #858585;
    font-size: 11px;
}

#drop-zone DIV.fileuploading SPAN.filename {
    float: left;
    display: inline-block;
    height: 22px;
    width: 50%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

#drop-zone DIV.fileuploading SPAN.filesize {
    float: left;
    display: inline-block;
    height: 22px;
    width: 20%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    color: #5b93c7;
    margin-left: 15px;
}

#drop-zone DIV.fileuploading SPAN.uploadprogess {
    float: left;
    display: inline-block;
    margin-top: 3px;
    width: 26%;
    overflow-x: hidden;
}

.progress-bar.progress-error {
    background-color: #ff5722;
}
.progress-bar.progress-error:after {
    content: 'Error';
    display: block;
}
.progress-bar.progress-done {
    background-color: #8BC34A;
}
.progress-bar.progress-done:after {
    content: '100%';
    display: block;
}
.progress-bar.progress-wait:after {
    content: 'Đang xử lý..';
    display: block;
}
.progress-bar:after {
    content: '';
    display: none;
    font-size: 10px;
}

#drop-zone DIV.fileuploading SPAN.filesize.error {
    text-decoration: line-through;
    color: #c00606;
}
#drop-zone DIV.fileuploading SPAN.filesize.error:after {
    content: 'Dung lượng sử dụng không đủ';
    position: absolute;
    margin-left: 10px;
}
#drop-zone DIV.fileuploading SPAN.progess{

}   